<div class="row ml-3 mr-3 bg-light">
  <div class="col text-center">
      <div><img routerLink="/snackMenu" width="auto" alt="Burger Choice" class="shadow-sm p-3 mb-5 bg-white img-thumbnail" src="../../assets/choice-burger.jpg"></div>
    <a routerLink="/snackMenu" class="font-weight-bold text-secondary"><h2>Escolha seu pedido!</h2></a>
  </div>
  <div class="col text-center">
      <div><img routerLink="/buildMenu" width="auto" alt="Burger Build" class="shadow-sm p-3 mb-5 bg-white img-thumbnail" src="../../assets/build-burger.jpg"></div> 
    <a routerLink="/buildMenu" class="font-weight-bold text-secondary"><h2>Crie seu lanche!</h2></a>
  </div>
</div>