<div class="row ml-3 mr-3 bg-light">
  <div class="col text-center border-left rounded m-2" routerLink="/snackMenu">
      <div><img width="auto" alt="Burger Choice" class="shadow-sm p-3 mb-5 bg-white img-thumbnail" src="../../assets/choice-burger.jpg"></div>
    <a class="font-weight-bold text-secondary"><h2>Escolha seu pedido!</h2></a>
  </div>
  <div class="col text-center border-right rounded m-2" routerLink="/buildMenu">
      <div><img width="auto" alt="Burger Build" class="shadow-sm p-3 mb-5 bg-white img-thumbnail" src="../../assets/build-burger.jpg"></div> 
    <a class="font-weight-bold text-secondary"><h2>Crie seu lanche!</h2></a>
  </div>
</div>