<div class="bg-primary border border-secondary border-circle m-2">

  <div *ngIf="error == -1" class="text-center" >
    <img src="../../assets/loading.gif" alt="loading">
  </div>

  <div *ngIf="error == 0">
      <h2 class="text-center text-secondary">Escolha seu pedido!</h2>
      <div class="p-2 mb-2 text-secondary font-weight-bold">
          <span class="float-left">Lanches</span>
          <span class="float-right mr-5">Preço</span>
        </div>
      <div *ngFor="let food of foods">
        <div class="p-2 border ">
          <span>{{food.name}} - ( </span>
          <span *ngFor="let ingredient of food.ingredients">{{ingredient.name}} </span>
          <span>)</span>
          <span class="float-right pl-2">
            <span class="pr-1">R${{getPrice(food)}}</span>
            <button class="bg-secondary rounded">Comprar</button>
          </span>
        </div>
      </div>
      <h5 class="text-secondary text-center">*O pão é por conta da casa!</h5>
  </div>


  <div class="m-2 text-center" *ngIf="error == 1">
      <h1 class="text-secondary">Whoops! Algo de errado aconteceu! Tente novamente mais tarde!</h1>
    </div>
</div>
<button class="bg-secondary btn-lg btn-block my-3" routerLink="/choiceView" >Voltar</button>